@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html,
    #app {
        @apply h-full bg-gray-100;
    }
}

::-webkit-scrollbar {
    width: 4px;
    height: 4px;
}

::-webkit-scrollbar-track {
    background: white;
    border-radius: 4px;
}

::-webkit-scrollbar-thumb {
    background: #00000080;
    border-radius: 4px;
}

.svgMap-map-wrapper {
    background: red;
}

.multiselect__tags {
    @apply border border-gray-300 rounded-md py-2 !important;
    height: 38px !important;
    min-height: 38px !important;
}

.multiselect__placeholder {
    padding: 0 0 0 0.25rem !important;
    margin: 0 !important;
}

select.bg-invisible {
    background-image: inherit;
}

.v-enter-active,
.v-leave-active {
  transition: opacity 100ms ease-in-out;
}

.v-enter-from,
.v-leave-to {
  opacity: 0;
}