@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html,
    #app {
        @apply h-full bg-gray-100;
    }
}

.sidebar::-webkit-scrollbar {
    width: 2px;
    height: 2px;
}
.sidebar::-webkit-scrollbar-button {
    width: 0px;
    height: 0px;
}
.sidebar::-webkit-scrollbar-thumb {
    background: #e1e1e1;
    border: 0px none #ffffff;
    border-radius: 0;
}
.sidebar::-webkit-scrollbar-thumb:hover {
    background: #ffffff;
}
.sidebar::-webkit-scrollbar-thumb:active {
    background: #000000;
}
.sidebar::-webkit-scrollbar-track {
    background: #0070B5;
    border: 0px none #ffffff;
    border-radius: 50px;
}
.sidebar::-webkit-scrollbar-track:hover {
    background: #0070B5;
}
.sidebar::-webkit-scrollbar-track:active {
    background: #0070B5;
}
.sidebar::-webkit-scrollbar-corner {
    background: transparent;
}

.svgMap-map-wrapper {
    background: red;
}

.multiselect__tags {
    @apply border border-gray-300 rounded-md py-2 !important;
    height: 38px !important;
    min-height: 38px !important;
}

.multiselect__placeholder {
    padding: 0 0 0 0.25rem !important;
    margin: 0 !important;
}